{% if projects|length >= 1 %}
<table>
    <tr>
        <th>Nombre Proyecto</th>
        <th>Prioridad</th>
        <th>Fase</th>
        <th>Fecha Inicio Proyecto</th>
        <th>Fecha Fin Proyecto</th>
        <th>Presupuesto</th>
        <th>Acciones</th>
    </tr>

    {% for project in projects %}
    

        <tr>
            <td> {{ project.projectName }} </td>

            <td>
                {% if project.priority == 'high' %}
                    {{ 'Alta' }}
                {% endif %}
                {% if project.priority == 'medium' %}
                    {{ 'Media' }}
                {% endif %}
                {% if project.priority == 'low' %}
                    {{ 'Baja' }}
                {% endif %}
            </td>

            <td>
            {% if project.phase == 'to start' %}
               {{ 'Por Iniciar' }}
            {% endif %}
            {% if project.phase == 'in progress' %}
               {{ 'En Proceso' }}
            {% endif %}
            {% if project.phase == 'stagnant' %}
               {{ 'Estancado' }}
            {% endif %}
            {% if project.phase == 'finished' %}
               {{ 'Terminado' }}
            {% endif %}
            </td>
            
            <td> {{ project.startDate|date('d/m/Y h:i') }} </td>
            <td> {{ project.endDate|date('d/m/Y h:i') }} </td>
            <td> {{ project.projectBudget }}</td>
            
            <td class="buttons">
                
                 {% if diagram_project is defined %}

                    <a href="{{ path('project_detail', {'id':project.id,'diagram_project':'diagrama'}) }}" class="btn-show">Diagrama</a>

                 {% else %}

                    <a href="{{ path('project_detail', {'id':project.id,'diagram_project':'null'}) }}" class="btn-show">Ver</a>

                        {% if project.creatorUser == app.user.id %}

                            <a href="{{ path('project_edit', {'id':project.id}) }}" class="btn-edit">Editar</a>
                        
                        {% endif %}


                 {% endif %}
               
            </td>

        </tr>
 
    {% endfor %}
    
</table>
{% else %}
    <strong>No hay proyectos disponibles en este momento</strong>
{% endif %}